version: "3"
services:
  cache:
    container_name: cache_redis_${host_port}
    build:
      context: ./
      dockerfile: redis.podmanfile
    ports:
      - ${host_port}:${container_port}
    volumes:
      - ./data/:/data:z
